nav {
  font-size: 30px;
  text-align: center;
}

a {
  margin-right: 20px;
}

input {
  height: 30px;
  font-size: 25px;
  border-radius: 10px;
  box-shadow: black 5px 5px 5px;
  border-style: solid;
  padding: 5px;
  outline: none;
  margin: 5px;
}

button {
  height: 40px;
  color: white;
  font-size: 25px;
  border-radius: 10px;
  background-color: red;
  color: white;
  border-color: black;
  box-shadow: black 5px 5px 5px;
  outline: none;
  margin: 5px;
}

form {
  width: 30%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-style: italic;
  margin-bottom: 30px;
}

pre {
  font-family: handlee;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

button:hover {
  background-color: blue;
}

button:active {
  background-color: black;
}

#image2 {
  position: fixed;
  top: 0;
  left: 0;
}

#image1 {
  position: fixed;
  top: 0;
  right: 0;
}
